@mixin font-size($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin title($font-size-xs: 18, $line-height-xs: 26, $font-size-sm: 21, $line-height-sm: 26) {
  @include font-size($font-size-xs / 10);
  line-height: ($line-height-xs / $font-size-xs);
  font-weight: 700;

  @media screen and (min-width: ($tablet-width - 1)) {
    @include font-size($font-size-sm / 10);
    line-height: ($line-height-sm / $font-size-sm);
  }
}