$bg-color: #fff;
$bg-color-contrast: #81b3d2;
$bg-color-muted: #eee;
$bg-color-lightly-muted: #f2f2f2;

$bg-btn--hover: #669ec0;
$bg-btn--pushdown: #5496bd;
$bg-btn--disabled: #e5e5e5;
$text-btn--pushdown: rgba(#fff, .3);

$border: #b8b8b8;
$border-muted: #e5e5e5;
$border-lightly-muted: #dbdbdb;

$text-color: #000;
$text-color-contrast: #fff;
$text-color-light: #333;
$text-color-muted: rgba(#333, .3);
$text-color-lightly-muted: #999;
$text-color-highlited: #766357;

$wrap-width: 300px;
$tablet-width: 768px;
$desktop-width: 1280px;

$link-color--pushdown: rgba(0, 0, 0, .3);

$link-color-active: #766357;
$link-color-active--hover: #604e43;
$link-color-active--pushdown: rgba($link-color-active, .3);


$input-bg: #f2f2f2;
$input-bg--hover: #e5e5e5;
$input-bg--pushdown: #d5d5d5;

$btn-muted-text: rgba(#333, .3);
$btn-muted-text--hover: rgba(#333, .5);
$btn-muted-text--pushdown: rgba(#333, .1);


$base-font-family: 'PT Sans', sans-serif;