$bg-color: #fff;
$bg-color-contrast: #81b3d2;
$bg-color-muted: #eee;

$border-muted: #e5e5e5;

$text-color: #000;
$text-color-contrast: #fff;
$text-color-light: #333;
$wrap-width: 300px;


$base-font-family: 'PT Sans', sans-serif;