.blog-intro {
  padding: 50px 0 30px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: ($tablet-width - 1)) {
    padding: 70px 0 50px;
  }

  &__content {
    max-width: 415px;
    margin: 0 auto;

  }


	&__title {
    margin-bottom: 35px;
	  @include title(30, 26, 30);
	}

  &__text {
    @include font-size(1.4);
    line-height: (26 / 14);
  }

}