.bullet-list {
  margin-bottom: 35px;

  @media screen and (min-width: ($tablet-width - 1)) {
    margin-bottom: 25px;
  }

  &__item {
    position: relative;
    padding-left: 15px;
    font-weight: 700;
    @include font-size(1.4);
    line-height: (24 / 14);

    @media screen and (min-width: ($tablet-width - 1)) {
      padding-left: 35px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -4px;
      height: 7px;
      width: 7px;
      background-color: $bg-color-contrast;
    }
  }
}