.form-header {
  padding: 75px 0 20px;
  background-color: $bg-color;
  border-bottom: 1px solid $border-muted;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: ($tablet-width - 1)) {
    padding: 65px 100px 50px;
    border-bottom: none;
  }

  @media screen and (min-width: ($desktop-width - 1)) {
    padding: 100px 250px 50px;
  }


  &__title {
  	margin-bottom: 30px;
  	@include title($font-size-sm: 30);

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-bottom: 25px;
    }
  }

  &__text {
  	@include font-size(1.4);
  	line-height: (24 / 14);
  }

}