.logo {
  width: 138px;
  height: 70px;
  margin: 0 auto;
  background-image: url(../img/logo.png);

  &__wrapper {
    float: left;
    width: 228px; // 320 - 60 (menu button & equal margin on the left) -32 (padding)
    margin: -13px 0 -28px 30px;
  }

  &__link {
    display: block;
    height: 70px;
  }
}