.logo {
  width: 138px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../img/form-logo-triangle.svg');

  &__wrapper {
    flex: 1 0 auto;
    margin-bottom: -15px;
    margin-left: 43px;

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-left: 0;
    }
  }

  &__img {
    width: 67px;
    height: 56px;
  }
}