.logo {
  width: 138px;
  height: 70px;
  margin: 0 auto;
  background-image: url(../img/logo.png);

  &__wrapper {
    flex: 1 0 auto;
    //float: left;
    //width: 78%; // 320 - 60 (menu button & equal margin on the left) -32 (padding)
    margin: -13px 0 -28px 30px;

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    height: 70px;
  }
}