.num-picker {
	margin-bottom: 20px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}


	&__btn {
		float: left;
		width: 21%; // 60/280
		height: 60px;
		border: none;
		background-color: $bg-color-muted;
		text-indent: -9999px;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@media screen and (min-width: ($tablet-width - 1)) {
			width: 33.3333%
		}

		&--plus {
			background-image: url('../img/icon-plus.svg');
			background-size: 35%;
		}

		&--minus {
			background-image: url('../img/icon-minus.svg');
			background-size: 70%;
		}
	}

	&__input-measure {
		position: relative;
		float: left;
		width: 54%;
		margin-right: 2%;
		margin-left: 2%;

		@media screen and (min-width: ($tablet-width - 1)) {
			margin: 0;
			width: 33.3333%
		}
		
		&:after {
			position: absolute;
			top: 50%;
			right: 15px;
			@include font-size(1.8);
			margin-top: -9px;
			color: rgba(0, 0, 0, .3);

			@media screen and (min-width: ($tablet-width - 1)) {
				display: none;
			}
		}

		&--people:after {
			content: 'чел.';
		}

		&--days:after {
			content: 'дн.';
		}

	}
}