.pagination {
  padding: 45px 20px 30px;
  border-top: 2px solid $border-lightly-muted;
  border-bottom: 2px solid $border-lightly-muted;

  &__btn {
    float: left;
    width: 56px;
    height: 56px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 17px;
    background-color: $bg-color-contrast;
    color: $text-color-contrast;
    @include title;
    text-align: center;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--active {
      background-color: $border-muted;
      color: $text-color;
    }
  }

  &__link {
    display: block;
    height: 56px;
    color: inherit;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}