.page-footer {
  padding: 40px 20px 20px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: ($tablet-width - 1)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px 35px 60px;
  }

  @media screen and (min-width: ($desktop-width - 1)) {
    padding: 35px 45px;
  }


  &__title {
    margin-bottom: 40px;
    @include title(21, 26);
    
    @media screen and (min-width: ($tablet-width - 1)) {
      margin-bottom: 0;
    }

    @media screen and (min-width: ($desktop-width - 1)) {
      padding-left: 85px;
    }
  }

  &__testimonial {
    @include font-size(1.4);
    line-height: (26 / 14);

    @media screen and (min-width: ($desktop-width - 1)) {
      padding-left: 95px;
    }
  }

  &__htmlacademylogo {
    margin-left: 5px;
    vertical-align: middle;

    &:hover {
      fill: $bg-color-contrast;
    }

    &:active {
      fill: $link-color--pushdown;
    }
  }
  
}