.popup {
	position: absolute;
	padding: 45px 45px 35px;
	box-shadow: 0 7px 15px rgba(0, 1, 1, .15);
	text-align: center;
	text-transform: uppercase;
	background-color: $bg-color;

	&__title {
		margin-bottom: 30px;
		@include title;
	}

	&__text {
		margin-bottom: 25px;
	    @include font-size(1.4);
	    line-height: (26 / 14);
	}

	&__btn-wrapper {
		margin: 0 -45px -35px;
		padding: 20px 20px;
		background-color: $bg-color-lightly-muted;

	}

	&--error {
		bottom: 600px;
	}

	&--success {
		bottom: 230px;
	}
}