.post-body {
  text-transform: uppercase;

  &__title {
    margin-bottom: 30px;
    @include title(30, 22, 30, 26);


    .post-body__text + & {
      margin-top: 50px;

      @media screen and (min-width: ($tablet-width - 1)) {
        margin-top: 40px;
      }
    }
  }

  &__text {
    margin-bottom: 35px;
    @include font-size(1.4);
    line-height: (26 / 14);

    @media screen and (min-width: ($tablet-width - 1)) {}
    margin-bottom: 25px;
  }

  &__link {
    color: $text-color-highlited;
    text-decoration: underline;
  }


}