.post-preview {

  @media screen and (min-width: ($tablet-width - 1)) {
    float: left;
    width: 50%;
    &:nth-child(2n+1) {
      border-right: 2px solid $border-lightly-muted;
    }

  }

  @media screen and (min-width: ($desktop-width - 1)) {
    width: 33.3%;
    &:nth-child(2n+1) {
      border: none;
    }
    &:nth-child(3n+2) {
      border-left: 2px solid $border-lightly-muted;
      border-right: 2px solid $border-lightly-muted;
    }

  }

  &__content {
    min-height: 285px;
    margin-bottom: -2px;
    padding: 40px 0 35px;
    text-align: center;
    text-transform: uppercase;
    border-top: 2px solid $border-lightly-muted;
    border-bottom: 2px solid $border-lightly-muted;

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-right: 35px;
      margin-left: 35px;
    }

    @media screen and (min-width: ($desktop-width - 1)) {
      margin-right: 40px;
      margin-left: 40px;
    }

  }

	&__title {
    margin-bottom: 25px;
	  @include title;
	}

  &__text {
    margin-bottom: 25px;
    @include font-size(1.4);
    line-height: (26 / 14);
  }

  &__wrapper {
    @media screen and (min-width: ($tablet-width - 1)) {
      //max-width: 768px;
      margin: 0 -40px;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

}