.post-data {

  &--side-strikes {
    @media screen and (min-width: ($tablet-width - 1)) {
      max-width: 300px;
      margin: 0 auto;
      padding: 0 20px;
      background-color: $bg-color;
    }
  }

  &__timestamp,
  &__tags {
    float: left;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 5px 7px;
    font-style: italic;
    color: $text-color-lightly-muted;
    text-transform: uppercase;
    text-decoration: none;
    @include font-size(1.4);
    line-height: (26 / 14);
  }

  &__timestamp {
    margin-right: 20px;
    background-image: url('../img/blog-calendar.svg');
  }

  &__tags {
    background-image: url('../img/blog-flag.svg');

    &--float-right {
      float: right;
    }
  }

  &__wrapper {
    position: relative;
    margin-top: 25px;

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-top: 40px;
      margin-bottom:  -5px;
    }

    &:before {
      @media screen and (min-width: ($tablet-width - 1)) {
        display: block;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 50%;
        content: '';
        border-top: 2px solid $border-lightly-muted;
      }
    }

  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}