.reason {
  flex: 1 0 256px;
  padding: 40px 20px 50px;
  background-color: $bg-color-contrast;
  color: $text-color-contrast;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: ($tablet-width - 1)) {
    padding: 45px;
  }

  @media screen and (min-width: ($desktop-width - 1)) {
    padding: 45px 70px;
  }

  
  &__content-wrap {
    padding: 33px 20px;
    border-bottom: 1px solid $border-muted;

    @media screen and (min-width: ($tablet-width - 1)) {
      border-bottom: none;
      padding: 45px 25px
    }

    @media screen and (min-width: ($desktop-width - 1)) {
      padding: 45px 50px
    }
  }
  
  &__title {
    margin-bottom: 15px;
    @include title;

    @media screen and (min-width: ($tablet-width - 1)) {
      min-height: 52px;
      margin-bottom: 9px;

    }

  }
  &__num{
    margin-bottom: 25px;
    @include font-size(1.4);
    line-height: (21 / 14);
    &:before, &:after {
      content: '\2014';
      padding: 0 5px;
    }

    @media screen and (min-width: ($tablet-width - 1)) {
      margin-bottom: 20px;
    }
  }
  &__text {
    @include font-size(1.4);
    line-height: (21 / 14);
  }

  &__outer {

    @media screen and (min-width: ($tablet-width - 1)) {
      display: flex;
    }

  }


  &--dark {
    padding: 0 20px;
    background-color: $bg-color-muted;
    color: $text-color;
  }

  &--arrow-top {
    padding-top: 60px;
    background-image: url(../img/bg-triangle-edge-xs-2.png);
    background-position: 50% -22px;
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: ($tablet-width - 1)) {
      padding-top: 45px;
      background-image: none;
    }
  }

  &:last-child {
    .reason__content-wrap {
      border: none;
    }
  }

  

}