
.social-links {
  display: inline-block;
  font-size: 0;
  margin-bottom: 40px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &__item {
    display: block;
    float: left;
    width: 46px;
    height: 48px;
    margin-right: 5px;
    background-color: $bg-color-contrast;

    &:hover {
      background-color: $bg-btn--hover;
    }
  }

  &__link {
    display: block;
    color: $text-color-contrast;
    line-height: 48px;

    &:active {
      background-color: $bg-btn--pushdown;
      color: $text-btn--pushdown;
    }

    // background-position: center center;
    // background-repeat: no-repeat;

    &--twi {
      font-size: 16px;
      
    }

    &--fb {
      font-size: 18px;
      
    }

    &--tube {
      font-size: 14px;
      
    }
  }

  @media screen and (min-width: ($tablet-width - 1)) {
    margin-bottom: 0;
  }
}