.traveller-info {
	margin-top: 15px;


	&__num-wrapper {
		float: left;
		width: 21%;
		margin-right: 2%;
		text-align: center;

		@media screen and (min-width: ($tablet-width - 1)) {
			width: 9.23%; // 60 / 650 * 100%
			margin-right: 0.77%; // 5 / 650 * 100%;
		}

		@media screen and (min-width: ($desktop-width - 1)) {
			width: 6.25%; // 60 / 960 * 100%
			margin-right: 0.63% // 6 / 960 * 100%;
		}

	}

	&__num {
		height: 60px;
		padding-top: 20px;
		border: none;
		background-color: $bg-color-muted;
		@include font-size(1.8);
		font-weight: 700;
	}

	&__details {
		float: left;
		width: 77%;

		@media screen and (min-width: ($tablet-width - 1)) {
			width: 90%;
			margin: 0 -3px;
		}

		@media screen and (min-width: ($tablet-width - 1)) {
			width: 98.96%;
			margin: 0 -30px;
		}
	}

	&__column-3 {
		float: left;

		@media screen and (min-width: ($tablet-width - 1)) {
			width: 33.333%;
			padding: 0 3px;
		}

		@media screen and (min-width: ($desktop-width - 1)) {
			padding: 0 30px;

		}
	}

	&:first-of-type {
		padding-top: 25px;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}